body, html {
    height: 100%;
}

:root {
    --primary: #3cb878;
}

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}


.container {
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}


/* Header */
.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;
}


/* Sprites start */
.sprite {
     background: url("../img/sprite.png") no-repeat top left;
     width: 19px;
     height: 20px; 
     transition: all 0.3s;
}

.sprite.calendar {
     background-position: 0 0;
     height: 19px;
 } 
.sprite.calendar:hover{
    background-position: -49px 0;
 }


.sprite.forum {
     background-position: -238px 0;
     width: 28px;
}
.sprite.forum:hover {
    background-position: -296px 0;
}


.sprite.compass {
     background-position: -98px 0;
     width: 20px;
}

.sprite.compass:hover {
    background-position: -148px 0;
}
/* Sprites end */


.logo {
    flex: 2;
    padding-left: 80px;
}

.logo a:hover {
    color: var(--primary);
}

.icons {
    display: flex;
    justify-content: flex-end;
    flex: 2;
}

.links {
    text-align: center;
    flex: 1;
}

.links p {
    color: #ffffff;
    position: relative;

}

.links p span a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s;
}

.links p span a:hover {
    text-decoration: underline;
}

.links p ::before{
    content: '';
    background-color: #32302e;
    position: absolute;
    width: 1px;
    height: 100%;
    left: 35px;
}

.icons :first-child {
    margin-right: 30px;
}

.icons :not(:first-child){
    margin-right: 30px;
}


/* Middle section */

.section {
    display: flex;
    height: calc(100% - 60px);
}

.form {
    border-radius: 15px;
    background-color: #ffffff;
    margin: auto;
    height: 600px;
    width: 450px;
    padding: 35px 50px;
}

.box {
    background-color: var(--primary);
    width: 25px;
    height: 25px;
    position: relative;
    left: -50px;
}

.row {
    display: flex;
}

.register-labels {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.register-labels a:first-child {
    text-decoration: none;
    position: relative;
    left: -26px;
    color: #434343;
    font-size: 20px;
}

.register-labels a:last-child {
    text-decoration: none;
    font-size: 15px;
    color: var(--primary);

}

.register-labels a:last-child:hover {
    text-decoration: underline;
}

/* Facebook and Google */

.facebook {
    width: 160px;
    height: 50px;
    background-color: #305db8;
    align-items: center;
    padding-left: 18px;
    position: relative;
    transition: all 0.3s;

}
.facebook:hover {
    background-color: #264b96;
    cursor: pointer;
}

.google {
    width: 160px;
    height: 50px;
    background-color: #df4a32;
    align-items: center;
    padding-left: 18px;
    position: relative;
    transition: all 0.3s;


}
.google:hover {
    background-color: #c3412c;
    cursor: pointer;
}

.face-google.row{
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 10px 0 10px;
}


.sprite.facebook-icon {
    background-position: -198px 0;
    width: 10px;
}


.sprite.facebook-icon::after {
    content: '';
    position: absolute;
    background-color: #2b54a5;
    width: 1px;
    height: 70%;
    left: 55px;
    top: 7px;
}


.sprite.google-icon::after {
    content: '';
    position: absolute;
    background-color: #af3a28;
    width: 1px;
    height: 70%;
    left: 55px;
    top: 7px; 
}


.sprite.google-icon {
    background-position: -354px 0; 
    width: 25px; 
    height: 16px;
}

.face-google div :last-child {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding-left: 39px;
}

.or p{
    text-align: center;
    color: #8e8e8e;
    position: relative;
    margin-top: 25px;
}

.or p::before{
    content: '';
    height: 1px;
    position: absolute;
    background-color: #eaeaea;
    width: 134px;
    top: 12px;
    left: 11px;
}

.or p::after{
    content: '';
    height: 1px;
    position: absolute;
    background-color: #eaeaea;
    width: 134px;
    top: 12px;
    right: 11px;
}

.face-google div{
    border-radius: 4px;
}


/* Text Inputs */

.textbox-inputs input {
    outline: none;
    border-radius: 3px;
    width: 100%;
    height: 45px;
    margin: 10px 0 10px 0;
    padding-left: 12px;
    font-size: 14px;
    border: 1px solid #eaeaea;
    transition: all 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #676767;
    font-weight: 500;
}

.textbox-inputs input::placeholder{
    color:#bebebe ;
}

.textbox-inputs input:focus{
    box-shadow: 0px 2px 7px gray;
}

.textbox-inputs input:focus::placeholder{
    color:#676767 ;
    
}

/* Checkbox */
.checkbox-agreement p {
    padding-left: 15px;
}
.checkbox-agreement a {
    color: var(--primary);
    text-decoration: none;
}
.checkbox-agreement a:hover {
    text-decoration: underline;
}

.checkbox-agreement {
    display: flex;
}   

.check-label {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #bebebe;
    position: relative;
    transition: all 0.3s;
}

.check-label::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 10px;
    border-bottom: 3px solid var(--primary);
    border-right: 3px solid var(--primary);
    border-radius: 2px;
    top: -30%;
    left: 0%;
    transform: translate(50%,50%) rotateZ(40deg);
    opacity: 0;
    transition: all 0.3s;

}

#checkbox-cls:checked ~.check-label::after{
    opacity: 1;
}

/* Button */

.button-container{
    height: 45px;
    margin-top: 16px;
}

.button-container button {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: var(--primary);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s;
}

.button-container button:hover{
    background-color: #329a65;
}

